{  "query":{
    "bool": {
    "should": [
    {
      "bool": {
        "must":
        [
        {"term": {"tokencount": {{matchedtokencount}}}},
        {"term": {"tokencount": {{searchtokencount}}}},
        {"term": {"is_exact":1}},
        {"term": {"is_negated":0}},
        {"term": {"language":"es-us"}},
        { "match": {
       "synonym" : {
            "query" : "{{searchstring}}",
            "minimum_should_match": {{searchtokencount}}
        } }}
        ]
     } },
      {
      "bool": {
        "must":
        [
        {"range" : {"tokencount" : {"lte" : {{matchedtokencount}}}}},
        {"term": {"is_exact":0}},
        {"term": {"is_negated":0}},
        {"term": {"language":"es-us"}},
        { "match": {
       "synonym" : {
            "query" : "{{searchstring}}",
            "minimum_should_match": {{matchedtokencount}}
        } }}
        ]
     } },
     {
      "bool": {
        "must":
        [
        {"range" : {"tokencount" : {"lte" : {{matchedtokencount}}}}},
        {"term": {"is_exact":0}},
        {"term": {"is_negated":1}},
        {"term": {"language":"es-us"}},
        { "match": {
       "synonym" : {
            "query" : "{{searchstring}}",
            "minimum_should_match": {{matchedtokencount}}
        } }}
        ]
     } }
     ,
     {
      "bool": {
        "must":
        [
        {"term": {"tokencount": {{matchedtokencount}}}},
        {"term": {"tokencount":{{searchtokencount}}}},
        {"term": {"is_exact":1}},
        {"term": {"is_negated":1}},
        {"term": {"language":"es-us"}},
        { "match": {
       "synonym" : {
            "query" : "{{searchstring}}",
            "minimum_should_match": {{searchtokencount}}
        } }}        ]
     } }
     
     
     ]
    }
  }
  , "size": 10000
  }